---
title: Tiyenti's Texts - Blog
---
<h1>Blog: Tiyenti's Texts</h1>

<p>
This is my blog that I keep saying I should probably use more, but never seem to get around to doing so.
Maybe that will change at some point, in which you can probably posts about the usual things I post about 
elsewhere on the internet - speedrunning, life updates, general shenanigans, occasional dabbles into my
side interests of programming, linguistics, and others, and me complaining about my technology not working
properly.
</p>

<p>
📡 <a href="/feed.xml">RSS feed</a>
</p>

<h2>Most recent posts</h2>
{% for post in site.posts %}
<div>
    <h2><a class="blog-index-title" href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="date">
        Posted: {{ post.date | date_to_string }}
        {% if post.updated %}
            | Updated: {{ post.updated | date_to_string }}
        {% endif %}
        {% if post.category %}
            | Category: {{ post.category }}
        {% endif %}
    </div>
    <p>{{ post.excerpt }}</p>
    <a class="readmore" href="{{ post.url}}">⯈ View post</a>
    <hr style="margin-top: 10px;" />
</div>
{% endfor %}