body
{
    font-family: "Droid Sans", Arial, Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 95%;
    line-height: 24px;
}

body.dark
{
    background-color: #1c1c1c;
    color: rgb(226, 226, 226);
}

body.light
{
    background-color: rgb(226, 226, 226);
    color: #1c1c1c;
}

#header-background
{
    background-color: #080808;
    margin-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

#header
{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    width: 100%;
}

#header-logo
{
    display: table-cell;
    vertical-align: middle;
}

.header-link, .header-link:hover
{
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    width: 58px;
    max-width: 120px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

#content-container
{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.blog-index-title, .blog-index-title:hover
{
    text-decoration: none;
}

.date
{
    font-size: 80%;
    /* color: silver; */
}

hr
{
    border-style: solid;
    border-color: #555;
    border-width: 1px;
}

a
{
    text-decoration: none;
}

a.readmore, a.readmore:hover
{
    text-decoration: none;
    font-size: 90%;
}

a:hover
{
    text-decoration: underline;
}

.dark a
{
    color: rgb(230, 190, 210)
}
.dark a:hover
{
    color: #ffffff;
}

.light a
{
    color: rgb(40, 50, 200)
}
.light a:hover
{
    color: rgb(40, 50, 200);
}

#header a
{
    color: rgb(200,200,200);
}
#header a:hover
{
    color: #fff;   
}

a.social
{
    color: #555555;
}

a.social:hover
{
    color: #000000;
}

code
{
    background-color: #F0F0F0;
    padding: 2px;
}

.comment
{
    font-size: 85%;
    font-style: italic;
}

.dark .comment,
.dark details.note, .dark details.note summary,
.dark .img-caption,
.dark .date
{
    color: #AAA;
}
.light .comment,
.light details.note, .light details.note summary,
.light .img-caption,
.light .date
{
    color: #555;
}

.blog-image
{
    display: block;
    margin: 0 auto;
    max-width: 700px;
}

.img-caption
{
    display: block;
    text-align: center;
    margin-top: 0px;
    font-size: 90%;
    font-style: italic;
    /*color: #AAA;*/
}

details.note
{
    display: inline;
    cursor: text;
    font-size: 85%;
    /* vertical-align: super; */
}

details.note summary
{
    display: inline;
    cursor: pointer;
    font-weight: bold;
    min-width: fit-content;
    user-select: none;
}