body
{
    font-family: "Droid Sans", Arial, Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 95%;
    line-height: 24px;
}

body.dark
{
    background-color: #1c1c1c;
    color: rgb(226, 226, 226);
}

body.light
{
    background-color: rgb(226, 226, 226);
    color: #1c1c1c;
}

#header-background
{
    background-color: #080808;
    margin-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

#header
{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    width: 100%;
}

#header-logo
{
    display: table-cell;
    vertical-align: middle;
}

.header-link, .header-link:hover
{
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    width: 58px;
    max-width: 120px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

#content-container
{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.blog-index-title, .blog-index-title:hover
{
    text-decoration: none;
}

.date
{
    font-size: 80%;
    /* color: silver; */
}

hr
{
    border-style: solid;
    border-color: #555;
    border-width: 1px;
}

a
{
    text-decoration: none;
}

a.readmore, a.readmore:hover
{
    text-decoration: none;
    font-size: 90%;
}

a:hover, span.fakelink:hover
{
    text-decoration: underline;
}

.dark a, .dark span.fakelink
{
    color: rgb(230, 190, 210)
}
.dark a:hover, .dark span.fakelink
{
    color: #ffffff;
}

.light a, .light span.fakelink
{
    color: rgb(40, 50, 200)
}
.light a:hover, .light span.fakelink
{
    color: rgb(40, 50, 200);
}

span.fakelink:hover
{
    cursor: pointer;
}

#header a
{
    color: rgb(200,200,200);
}
#header a:hover
{
    color: #fff;   
}

a.social
{
    color: #555555;
}

a.social:hover
{
    color: #000000;
}

code
{
    background-color: #F0F0F0;
    padding: 2px;
}

.comment
{
    font-size: 85%;
    font-style: italic;
}

.dark .comment,
.dark details.note, .dark details.note summary,
.dark span.note, .dark .span.note-content,
.dark .img-caption,
.dark .date
.dark a.note,
.dark div.footnotes li
{
    color: #AAA;
}
.light .comment,
.light details.note, .light details.note summary,
.light span.note, .light .span.note-content,
.light .img-caption,
.light .date,
.light a.note,
.light div.footnotes li
{
    color: #555;
}

.blog-image
{
    display: block;
    margin: 0 auto;
    max-width: 700px;
}

@media (max-width: 700px) {
    .blog-image
    {
        width: 100%;
    }
}

.img-caption
{
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 90%;
    font-style: italic;
    /*color: #AAA;*/
}

details.note
{
    display: inline;
    cursor: text;
    font-size: 85%;
    /* vertical-align: super; */
}

details.note summary
{
    display: inline;
    cursor: pointer;
    font-weight: bold;
    min-width: auto;
    width: fit-content;
    user-select: none;
}

a.note
{
    display: inline;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
    text-decoration: none;
    font-size: 85%;
}

span.note-content
{
    display: none;
    cursor: text;
    font-weight: normal;
    user-select: none;
}

a.note:focus span.note-content
{
    display: inline;
    cursor: text;
    font-weight: normal;
    user-select: text;
}

/* headings */
h1, h2, h3, h4, h5, h6
{
    line-height: 1.2em;
}

/* styling for default kramdown footnotes if I want to use them */

div.footnotes li
{
    font-size: 85%;
}

div.footnotes li:target
{
    background-color:rgba(210, 120, 0, 0.2);
}

/* spoilers */

span.spoiler
{
    color: black;
    background-color: black;
}

span.spoiler:hover
{
    color: white !important;
    background-color: black;
}


/* bottom nav */
  
.bottomnav
{
    width: auto;
}

.bottomnav a {
display: block;
width: 50%;
float: left;
}

.bottomnav .next {
text-align: right;
float: right;
}