---
layout: default
---
<a href="{% link index.html %}">Home</a> &gt; <a href="{% link blog.html %}">Blog</a> &gt; <b>{{ page.title }}</b>
<h1>{{ page.title }} </h1>
{{ content }}
<div class="date">
    Posted: {{ page.date | date_to_string }}
    {% if page.updated %}
        | Updated: {{ page.updated | date_to_string }}
    {% endif %}
    {% if page.category %}
        | Category: {{ page.category }}
    {% endif %}
</div>
<div class="bottomnav">
    {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
</div>